.remove-card-button {
  padding: 0;
  margin: -3px 0 0 0;
  border-radius: 50%;
  border: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background: #f9f9f9 url("../../images/remove-icon.svg") no-repeat 50% 50%;
  visibility: hidden;
}

@media screen and (max-width: 800px) {
  .remove-card-button {
    visibility: visible;
  }
}