.movies-card-list {
  box-sizing: border-box;
  padding: 66px 70px 70px 70px;
  margin: 0 auto;
  max-width: 1280px;
  min-width: 320px;
}

.movies-card-list__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  gap: 38px 20px;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
}

.movies-card {
  width: 100%;
  overflow: hidden;
}
.movies-card__image {
  display: block;
  width: 100%;
  height: 151px;
  object-fit: cover;
  background: #e8e8e8;
}

.movies-card__title {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  flex-grow: 1;
  min-height: 32px;
}

.movies-card__duration {
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  color: #a0a0a0;
  border-top: 1px solid #e8e8e8;
  margin: 0;
  padding: 6px 0 0 0;
}

.movies-card__container {
  display: flex;
  margin: 14px 0 14px 0;
  align-items: start;
  gap: 25px;
}

.movies-card__like {
  padding: 0;
  margin: -3px 0 0 0;
  border-radius: 50%;
  border: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background: #f9f9f9 url("../../images/like-icon.svg") no-repeat 50% 50%;
}

.movies-card-list__more-btn {
  display: block;
  margin: 60px auto 0 auto;
  padding: 11px 60px 9px 60px;
  box-sizing: border-box;
  border: none;
  border-radius: 6px;
  background: #f9f9f9;
  width: 100%;
  max-width: 320px;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .movies-card-list {
    padding: 77px 30px 98px 30px;
  }
  .movies-card-list__list {
    gap: 29px 30px;
  }
  .movies-card__image {
    height: 190px;
  }
}
@media screen and (max-width: 500px) {
  .movies-card-list {
    padding: 42px 10px 120px 10px;
  }
  .movies-card-list__list {
    gap: 32px 30px;
  }
  .movies-card__image {
    height: 168px;
  }
  .movies-card__title {
    font-size: 12px;
    line-height: 15px;
  }
  .movies-card-list__more-btn {
    max-width: 240px;
  }
}