.hamburger {
  display: none;
  position: relative;
  width: 28px;
  height: 22px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  z-index: 2;
}
.hamburger__button {
  margin: 0 9px 0 0;
}

.hamburger__button-line {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background: #000000;
  z-index: 3;
  transition-duration: .20s;
}
.hamburger__button-line_style_light {
  background: #ffffff;
}

.hamburger__button-line:nth-child(1) {
  top: 0;
}

.hamburger__button-line:nth-child(2) {
  top: 10px;
}

.hamburger__button-line:nth-child(3) {
  top: 20px;
}
.hamburger__button_type_close {
  position: fixed;
  right: 18px;
  top: 27px;
  width: 20px;
  height: 20px;
}
.hamburger__button_type_close .hamburger__button-line:nth-child(1) {
  background-color: #000000;
  top: 10px;
  transform: rotate(45deg);
}

.hamburger__button_type_close .hamburger__button-line:nth-child(2) {
  background-color: #000000;
  top: 10px;
  transform: rotate(45deg);
}

.hamburger__button_type_close .hamburger__button-line:nth-child(3) {
  background-color: #000000;
  top: 10px;
  transform: rotate(-45deg);
}

@media screen and (max-width: 800px) {
  .hamburger {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .hamburger__button_type_close {
    right: 9px;
    top: 17px;
  }
  .hamburger {
    width: 22px;
  }
}