.submit-button {
  border: none;
  padding: 13px 0 15px 0;
  color: #ffffff;
  background: #3456f3;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
  opacity: 1;
  transition: opacity 0.2s;
}
.submit-button:not(:disabled):hover {
  opacity: 0.8;
}
.submit-button:disabled {
  background: #f8f8f8;
  color: #c2c2c2;
  cursor: default;
}
@media screen and (max-width: 500px) {
  .submit-button {
    font-size: 12px;
    line-height: 15px;
  }
}
