.search-form {
  box-sizing: border-box;
  padding: 70px 70px 50px 70px;
  margin: 0 auto;
  max-width: 1280px;
  min-width: 320px;
}

.search-form__container {
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  margin: 0 0 33px 0;
  padding: 0 0 13px 0;
}

.search-form__submit {
  width: 58px;
  height: 34px;
  font-size: 11px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  background: #3456f3;
  color: #ffffff;
  border-radius: 50px;
  border: none;
  outline: none;
  cursor: pointer;
}

.search-form__input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
}

