.about-me {
  box-sizing: border-box;
  padding: 110px 70px 100px 70px;
  margin: 0 auto;
  max-width: 1280px;
  min-width: 320px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-me__title {
  width: 100%;
}

.about-me__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
}
.about-me__description {
  max-width: 600px;
  margin: 66px 0 0 0;
  display: flex;
  flex-direction: column;
}
.about-me__subtitle {
  margin: 0;
  padding: 0;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -0.04em;
}

.about-me__caption {
  padding: 0;
  margin: 20px 0 26px 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}

.about-me__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  padding: 0;
}

.about-me__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-decoration: none;
  margin: auto 0 0 0;
  width: fit-content;
  color: #000000;
}

.about-me__link:hover {
  opacity: 0.7;
}

.about-me__avatar {
  margin: 66px 0 0 0;
  width: 270px;
  height: 327px;
  align-self: end;
  object-fit: contain;
  object-position: top;
}
@media screen and (max-width: 800px) {
  .about-me {
    padding: 92px 50px 90px 50px;
  }
  .about-me__subtitle {
    font-size: 40px;
    line-height: 40px;

  }
  .about-me__description {
    margin: 66px 0 0 0;
    max-width: 364px;
  }
  .about-me__avatar {
    margin: 66px 0 0 0;
    width: 255px;
    height: 307px;
  }
  .about-me__caption {
    margin: 16px 0 20px 0;
    font-size: 12px;
    line-height: 18px;
  }
  .about-me__text {
    margin: 0;
    font-size: 12px;
    line-height: 18px;
  }
}
@media screen and (max-width: 650px) {
  .about-me__subtitle {
    font-size: 30px;
    line-height: 36px;
  }
  .about-me__caption {
    font-size: 11px;
    font-weight: 500;
    line-height: 16px;
    margin: 20px 0 20px 0;
    max-width: 100%;
  }
  .about-me__text {
    font-size: 11px;
    line-height: 16px;
  }
  .about-me__avatar {
    margin: 60px 0 0 0;
    width: 200px;
  }
}

@media screen and (max-width: 500px) {
  .about-me {
    padding: 70px 14px 70px 14px;
    display: flex;
  }
}

@media screen and (max-width: 450px) {
  .about-me {
    padding: 70px 14px 70px 14px;
    display: flex;
  }
  .about-me__container {
    flex-direction: column;
  }
  .about-me__description {
    order: 1;
    margin: 10px 0 0 0;
    max-width: 100%;
  }
  .about-me__avatar {
    order: 0;
    width: 292px;
    height: 352px;
    align-self: center;
  }
  .about-me__link {
    margin: 40px 0 0 0;
  }
}

